<footer>
  <div class="footer-top">
    <div class="row">
      <div class="col-sm-4">
        <h2>About us</h2>
        <div>
          Autem humanitatis omnium officiis Roma bacarum plerique domicilium virtutum suavitate Roma autem quod ingenuos ingenuos retentabant omnium autem advenas humanitatis cum dubitatur plerique nobilium bacarum non non multiformibus autem Homerici.
        </div>
      </div>
      <div class="col-sm-4">
        <h2>Vivienne’s Omitted Line</h2>
        <%= image_tag("album-03.jpg", :alt => "Aelus Vivienne’s Omitted Line album", :class => "img-responsive") %>
      </div>
      <div class="col-sm-4">
        <h2>Recent posts</h2>
        <% if @recent_posts.size > 0 %>
          <ul class="recentposts-list list-unstyled">
              <% @recent_posts.each do |recent_post| %>
                <li>
                  <%= link_to recent_post.title, post_path(recent_post.id), class: "recentposts-title" %>
                  <div class="recentposts-date"><%= recent_post.created_at.strftime("%B %d, %Y") %></div>
                </li>
              <% end %>
          </ul>
        <% else %>
          <p>There is no news for the moment.</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row">
      <div class="social-links">
        <ul class="list-unstyled">
          <li><a href="http://twitter.com" target="_blank"><span class="sr-only">Twitter</span><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://facebook.com" target="_blank"><span class="sr-only">Facebook</span><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com" target="_blank"><span class="sr-only">Instagram</span><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="http://youtube.com" target="_blank"><span class="sr-only">Youtube</span><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          <li><a href="http://vimeo.com" target="_blank"><span class="sr-only">Vimeo</span><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
          <li><a href="http://amazon.com" target="_blank"><span class="sr-only">Amazon</span><i class="fa fa-amazon" aria-hidden="true"></i></a></li>
          <li><a href="http://apple.com" target="_blank"><span class="sr-only">Apple</span><i class="fa fa-apple" aria-hidden="true"></i></a></li>
          <li><a href="http://soundcloud.com" target="_blank"><span class="sr-only">Soundcloud</span><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
          <li><a href="http://spotify.com" target="_blank"><span class="sr-only">Spotify</span><i class="fa fa-spotify" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <p>Music band name</p>
      <div class="admin-links">
      <% if !user_signed_in? %>
        <p class="admin-link"><%= link_to "Admin login", new_user_session_path %></p>
      <% else %>
        <% if current_user.role == "admin" %>
          <p class="admin-link"><%= link_to "Administrate", admin_root_path %></p>
        <% end %>
        <p class="admin-link"><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
      <% end %>
      </div>
    </div>
  </div>
  <a href="#header" id="top-link"><span class="sr-only">Top</span><i aria-hidden="true" class="fa fa-arrow-circle-up fa-2x"></i></a>
</footer>